Ip Address,OS Type & Version,LMHosts service status,nsi service status,BFE service status,Power service status,Crowd strike Installation status,Cloud strike cloud connection status,Server status
{{ipAddress}},{{Os_server}},{{LMHostsStatus}},{{nsiStatus}},{{BFEStatus}},{{PowerStatus}},{{crowdStrikeStatus}},{{Sensor_cloud_status_post}},{{serverStatus}}
